<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="com.vogella.tycho.target" sequenceNumber="15">
    <locations>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <repository location="http://download.eclipse.org/releases/2019-06"/>
		    <unit id="org.eclipse.acceleo.feature.group" version="3.7.8.201902261618"/>
		    <unit id="org.eclipse.egf.sdk.feature.feature.group" version="1.6.1.201906060805"/>
		    <unit id="org.eclipse.emf.cdo.dawn.feature.group" version="2.1.500.v20180530-1201"/>
		    <unit id="org.eclipse.emf.cdo.epp.feature.group" version="4.7.0.v20180530-1201"/>
		    <unit id="org.eclipse.emf.cdo.sdk.feature.group" version="5.0.0.v20180530-1201"/>
		    <unit id="org.eclipse.emf.compare.diagram.sirius.feature.group" version="3.3.7.201905300200"/>
		    <unit id="org.eclipse.emf.compare.egit.feature.group" version="3.3.7.201905300200"/>
		    <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.7.201905300200"/>
		    <unit id="org.eclipse.emf.compare.uml2.feature.group" version="3.3.7.201905300200"/>
		    <unit id="org.eclipse.emf.diffmerge.sdk.feature.feature.group" version="0.11.2.201906100817"/>
		    <unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.10.0.v20190401-0856"/>
		    <unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="3.3.1.201905160933"/>
		    <unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="1.21.0.20190603-0953"/>
		    <unit id="org.eclipse.emf.ecp.sdk.feature.feature.group" version="1.21.0.20190603-0953"/>
		    <unit id="org.eclipse.emf.eef.codegen.ecore-feature.feature.group" version="1.5.1.201601141612"/>
		    <unit id="org.eclipse.emf.eef.sdk-feature.feature.group" version="1.5.1.201601141612"/>
		    <unit id="org.eclipse.emf.emfstore.sdk.feature.feature.group" version="1.9.0.v20170530-0703"/>
		    <unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.4.0"/>
		    <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.10.0"/>
		    <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.10.0"/>
		    <unit id="org.eclipse.emf.oda.sdk.feature.group" version="1.8.0.v20190323-1059"/>
		    <unit id="org.eclipse.emf.parsley.cdo.feature.feature.group" version="1.7.0.v20190510-1252"/>
		    <unit id="org.eclipse.emf.parsley.cdo.feature.source.feature.group" version="1.7.0.v20190510-1252"/>
		    <unit id="org.eclipse.emf.parsley.sdk.feature.group" version="1.7.0.v20190510-1252"/>
		    <unit id="org.eclipse.emf.parsley.sdk.source.feature.group" version="1.7.0.v20190510-1252"/>
		    <unit id="org.eclipse.emf.query.sdk.feature.group" version="1.12.0.201805030653"/>
		    <unit id="org.eclipse.emf.sdk.feature.group" version="2.18.0.v20190528-0845"/>
		    <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.12.0.201805140824"/>
		    <unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.12.1.201812070911"/>
		    <unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
		    <unit id="org.eclipse.gmf.feature.group" version="1.12.1.201905141505"/>
		    <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.12.0.201805221301"/>
		    <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.12.1.201905141505"/>
		    <unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.16.0.201906041401"/>
		    <unit id="org.eclipse.graphiti.export.feature.source.feature.group" version="0.16.0.201906041401"/>
		    <unit id="org.eclipse.graphiti.feature.examples.feature.group" version="0.16.0.201906041401"/>
		    <unit id="org.eclipse.graphiti.feature.examples.source.feature.group" version="0.16.0.201906041401"/>
		    <unit id="org.eclipse.graphiti.feature.feature.group" version="0.16.0.201906041401"/>
		    <unit id="org.eclipse.graphiti.feature.source.feature.group" version="0.16.0.201906041401"/>
		    <unit id="org.eclipse.graphiti.feature.tools.feature.group" version="0.16.0.201906041401"/>
		    <unit id="org.eclipse.graphiti.feature.tools.source.feature.group" version="0.16.0.201906041401"/>
		    <unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.16.0.201906041401"/>
		    <unit id="org.eclipse.graphiti.sdk.feature.source.feature.group" version="0.16.0.201906041401"/>
		    <unit id="org.eclipse.graphiti.sdk.plus.feature.feature.group" version="0.16.0.201906041401"/>
		    <unit id="org.eclipse.graphiti.sdk.plus.feature.source.feature.group" version="0.16.0.201906041401"/>
		    <unit id="org.eclipse.m2m.atl.sdk.feature.group" version="4.0.1.v201812100843"/>
		    <unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.9.3.v20190610-0948"/>
		    <unit id="org.eclipse.m2m.qvt.oml.sdk.source.feature.group" version="3.9.3.v20190610-0948"/>
		    <unit id="org.eclipse.m2m.qvt.oml.tools.coverage.feature.group" version="1.5.3.v20190610-0948"/>
		    <unit id="org.eclipse.m2m.qvt.oml.tools.coverage.source.feature.group" version="1.5.3.v20190610-0948"/>
		    <unit id="org.eclipse.net4j.sdk.feature.group" version="4.7.0.v20180530-1201"/>
		    <unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.9.0.v20190603-1146"/>
		    <unit id="org.eclipse.ocl.all.sdk.source.feature.group" version="5.9.0.v20190603-1146"/>
		    <unit id="org.eclipse.ocl.examples.feature.group" version="6.8.0.v20190603-1146"/>
		    <unit id="org.eclipse.ocl.examples.source.feature.group" version="6.8.0.v20190603-1146"/>
		    <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="4.4.0.201906122339"/>
		    <unit id="org.eclipse.pmf.core.feature.feature.group" version="0.4.0.201705201427"/>
		    <unit id="org.eclipse.pmf.xwt.feature.feature.group" version="0.4.0.201705201427"/>
		    <unit id="org.eclipse.qvtd.master.feature.group" version="0.19.0.v20190605-0849"/>
		    <unit id="org.eclipse.qvtd.master.source.feature.group" version="0.19.0.v20190605-0849"/>
		    <unit id="org.eclipse.sirius.properties.feature.feature.group" version="6.2.1.201906121145"/>
		    <unit id="org.eclipse.sirius.runtime.ide.xtext.feature.group" version="6.2.1.201906121145"/>
		    <unit id="org.eclipse.sirius.samples.feature.group" version="6.2.1.201906121145"/>
		    <unit id="org.eclipse.sirius.specifier.feature.group" version="6.2.1.201906121145"/>
		    <unit id="org.eclipse.sirius.specifier.properties.feature.feature.group" version="6.2.1.201906121145"/>
		    <unit id="org.eclipse.uml2.sdk.feature.group" version="5.5.0.v20181203-1331"/>
		    <unit id="org.eclipse.viatra.query.sdk.extensions.feature.feature.group" version="0.22.0.201906120939"/>
		    <unit id="org.eclipse.viatra.query.sdk.feature.source.feature.group" version="2.2.0.201906120939"/>
		    <unit id="org.eclipse.xpand.sdk.feature.group" version="2.2.0.v201605260315"/>
		    <unit id="org.eclipse.xsd.sdk.feature.group" version="2.18.0.v20190323-1100"/>
		    <unit id="org.eclipse.xtext.sdk.feature.group" version="2.18.0.v20190528-0716"/>
		    <unit id="org.eclipse.zest.sdk.feature.group" version="1.7.0.201606061308"/>
	    </location>
    </locations>
</target>