<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated openapi3 -->
      <package
            uri="http://som.uoc.edu/openapi/3.0.2"
            class="edu.uoc.som.openapi3.Openapi3Package"
            genModel="model/openapi3.genmodel"/>
   </extension>

</plugin>
