<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated openapi -->
      <package
            uri="http://som.uoc.edu/openapi/2.0.0"
            class="edu.uoc.som.openapi.OpenAPIPackage"
            genModel="model/openapi.genmodel"/>
   </extension>

</plugin>
